<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	
	
	<!-- 高DPI対応としてDpiAwareness、EnableWindowsFormsHighDpiAutoResizing項目を追加 -->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<!-- .NetFrameworkにおいてモニター毎の高DPIサポートを有効にする -->
		<add key="DpiAwareness" value="PerMonitorV2" />
		
		<!-- 高DPI時に自動リサイズを禁止する設定 -->
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
